extends layout

block content

    h1= `${error.message} - Status: ${error.status}`
    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
    .paper
        pre.stack-trace= error.stack
    .tear